@media only screen and (min-width: 62.37em) {
  html {
    max-width: 1500px;
    margin: auto;
  }

  body {
    max-width: 1054px;
    margin: auto;
  }

  header {
    grid-template-columns: 20% 80%;
  }

  header h1 {
    font-size: 3rem;
  }

  .svg-size {
    height: 60px;
  }

  /*Home Page*/
  #hero {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  #page-board {
    grid-template-columns: repeat(3, 1fr);
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  /*Character Page*/
  #character-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    height: auto;
    align-items: center;
  }

  /*Shire's Cinema Page*/

  .shires-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    height: auto;
    align-items: center;
  }
}
